.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #343a40;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}

.App{
    background-color: #f8f9fa!important;
    min-height: 500px;
    max-width: 500px;
    margin: 40px auto;
  }

  @media (max-width: 575px) {
    .btn, .btn-full-width {
        width:100%;
    }
}

.Form-Container{
    padding-left: 15px;
    padding-top: 15px;
}